*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* THIN 100 */
@font-face {
   font-family: 'Josefin Sans';
   src: url('./assets/fonts/JosefinSans/JosefinSans-Thin.woff2') format('woff2');
   font-weight: 100;
   font-style: normal;
}

@font-face {
   font-family: 'Josefin Sans';
   src: url('./assets/fonts/JosefinSans/JosefinSans-ThinItalic.woff2') format('woff2');
   font-weight: 100;
   font-style: italic;
}

/* EXTRA LIGHT 200 */
@font-face {
   font-family: 'Josefin Sans';
   src: url('./assets/fonts/JosefinSans/JosefinSans-ExtraLight.woff2') format('woff2');
   font-weight: 200;
   font-style: normal;
}

@font-face {
   font-family: 'Josefin Sans';
   src: url('./assets/fonts/JosefinSans/JosefinSans-ExtraLightItalic.woff2') format('woff2');
   font-weight: 200;
   font-style: italic;
}

/* LIGHT 300 */
@font-face {
   font-family: 'Josefin Sans';
   src: url('./assets/fonts/JosefinSans/JosefinSans-Light.woff2') format('woff2');
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: 'Josefin Sans';
   src: url('./assets/fonts/JosefinSans/JosefinSans-LightItalic.woff2') format('woff2');
   font-weight: 300;
   font-style: italic;
}

/* REGULAR 400 */
@font-face {
   font-family: 'Josefin Sans';
   src: url('./assets/fonts/JosefinSans/JosefinSans-Regular.woff2') format('woff2');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Josefin Sans';
   src: url('./assets/fonts/JosefinSans/JosefinSans-Italic.woff2') format('woff2');
   font-weight: 400;
   font-style: italic;
}

/* MEDIUM 500 */
@font-face {
   font-family: 'Josefin Sans';
   src: url('./assets/fonts/JosefinSans/JosefinSans-Medium.woff2') format('woff2');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'Josefin Sans';
   src: url('./assets/fonts/JosefinSans/JosefinSans-MediumItalic.woff2') format('woff2');
   font-weight: 500;
   font-style: italic;
}

/* SEMI BOLD 600 */
@font-face {
   font-family: 'Josefin Sans';
   src: url('./assets/fonts/JosefinSans/JosefinSans-SemiBold.woff2') format('woff2');
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: 'Josefin Sans';
   src: url('./assets/fonts/JosefinSans/JosefinSans-SemiBoldItalic.woff2') format('woff2');
   font-weight: 600;
   font-style: italic;
}

/* BOLD 700 */
@font-face {
   font-family: 'Josefin Sans';
   src: url('./assets/fonts/JosefinSans/JosefinSans-Bold.woff2') format('woff2');
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'Josefin Sans';
   src: url('./assets/fonts/JosefinSans/JosefinSans-BoldItalic.woff2') format('woff2');
   font-weight: 700;
   font-style: italic;
}

body {
   background-color: #E5E5E5;
   font-family: 'Josefin Sans', sans-serif;
}

.investments_calculator_section {
   max-width: 1440px;
   margin: 100px auto;
   background-color: #FBFBFB;
}

.article_investments {
   padding: 125px 140px 0 135px;
}

.article_calculator_working {
   padding: 140px 134px 125px 135px;
}

.article_investments_inner,
.article_calculator_working_inner {
   background-color: rgba(250, 235, 215, 0.4);
   padding: 20px;
   /* bg just for debugging */
}

.article_investments_title,
.article_calculator_working_title {
   font-weight: 600;
   font-style: normal;
   font-size: 40px;
   line-height: 1.145;
   color: #083E9E;
}

.article_investments_title {
   max-width: 474px;
}

.article_investments_content {
   display: flex;
   justify-content: space-between;
}

.article_investments_image {
   max-width: 100%;
   height: auto;
}

.investments_calculation_inputs {
   display: flex;
   flex-direction: column;
   max-width: 474px;
   width: 100%;
}

.investments_calculation_input_sum,
.investments_calculation_input_years,
.investments_calculation_input_balance {
   display: flex;
   flex-direction: column;
   gap: 8px;
   margin-bottom: 32px;
}

.investments_calculation_input_years {
   margin-bottom: 69px;
}


.initial_sum_label,
.years_label,
.balance_label {
   font-weight: 700;
   font-style: normal;
   font-size: 24px;
   line-height: 1.2;
   letter-spacing: 0;
   color: #4A5568;
}

.balance_label {
   font-weight: 600;
   color: #083E9E;
   /* only differences */
}

.initial_sum_input,
.years_input,
.balance_input {
   width: 100%;
   border: none;
   border-radius: 4px;
   line-height: 1.2;
   font-style: normal;
}

.initial_sum_input,
.years_input {
   background-color: rgba(0, 136, 204, 0.08);
   font-weight: 400;
   font-size: 24px;
   color: #3B3B3B;
   padding: 16px 0 16px 27px;
}

.balance_input {
   background-color: rgba(0, 136, 204, 0.08);
   font-weight: 600;
   font-size: 36px;
   color: #000;
   padding: 16px 0 16px 1px;
}

.article_calculator_working_title {
   text-align: center
}

.article_calculator_working_content {
   display: flex;
   justify-content: space-between;
}

.article_calculator_working_image {
   max-width: 100%;
   height: auto;
}

.article_calculator_working_text {
   font-weight: 400;
   font-style: normal;
   font-size: 24px;
   line-height: 1.145;
   letter-spacing: 0em;
   color: #4A5568;
   padding-left: 77px;
   padding-top: 124px;
}

/* @media */

@media screen and (max-width: 1180px) {

   .article_investments_content,
   .article_calculator_working_content {
      flex-wrap: wrap;
   }

   .article_investments_title,
   .article_calculator_working_title {
      font-size: 36px;
   }

   .article_investments {
      padding: 50px;
   }

   .article_calculator_working {
      padding: 50px;
   }

   .article_calculator_working_text {
      font-size: 26px;
      padding-left: 5px;
      padding-top: 10px;
   }
}

@media screen and (max-width: 580px) {

   .article_investments_content,
   .article_calculator_working_content {
      display: flex;
      flex-direction: column;
   }

   .article_investments_title,
   .article_calculator_working_title {
      font-size: 30px;
   }

   .article_investments {
      padding: 20px;
   }

   .article_calculator_working {
      padding: 20px;
   }

   .article_calculator_working_text {
      font-size: 16px;
      padding-left: 5px;
      padding-top: 10px;
   }


   .initial_sum_label,
   .years_label,
   .balance_label {
      font-size: 20px;
   }

}